/*------------------HEADER---------------*/
header {
    height: 100px;
    background: #771313;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
    height: 100% ;
    object-fit: cover;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.ocultar-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.ocultar-menu:hover {
    color: #e19191;
}

#check {
    display: none;
}

@media (max-width: 768px) {
    .mostrar-menu,
    .ocultar-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-image: url("img/menu1.png");
        background-size: contain;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.7s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .ocultar-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu {
        right: 0;
    }
}
/*-------------------------body-------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 20px;
}

h2 {
    text-align: center;
}

/*-----------------------VFORMULARIO----------- */
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1.7px solid #c40909;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 95%;
    padding: 7px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 98%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #771313;
}

input[type="submit"]:hover {
    background-color: #e0a86f;
}

/*------------responsive------------*/
@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    select {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 8px;
    }
}
/*....----------------footer-----------------------*/
/*--------------footer---------*/
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin:0px;
    
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    width: 800%;
    margin: 0px;
    padding: 10px; 
    margin-bottom: 20px;

}


.contenedor-footer > div {
    flex: 1;
    min-width: 100px;
    margin: 20px;
}

.direccion p{
    margin:10px;
    text-align: left;
}

.direccion, .red-social, .company {
    margin:0px 20px;
}

.enlaces {
    list-style: none;
    padding: 0;
}

.enlaces li {
    display: inline-block;
    margin: 20px 2px;
    
    
}

.enlaces a {
    text-decoration: none;
    font-size: 50px;
    transition: color 0.3s ease;
    align-items: left;
    
}

.enlaces a:hover {
    color: #e0e6e0;
}

.company img {
    max-width: 40%;
    height: auto;
    transition: transform 0.3s ease;
}

.company img:hover {
    transform: scale(1.1);
}

@media (max-width: 480px) {
    .contenedor-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
       
}
